<div class="text">
	<div class="container blogBoxCont">
		<div class="row headerRow">
			<div class="col-12">
				<h2 class="blogTitle">{{title}}</h2>
			</div>
			<div class="col-12">
				<p class="blogCreate text-center">Created By: {{user.username}} On: {{format_date date_created}}</p>
			</div>
		</div>
		<p class="text-center blogDescTwo">{{description}}</p>
	</div>
</div>
<div class="commentBox col-12">
<h2 class="blogTitle text-center text-underline">Comments:</h2>
{{#each comments as |comment|}}
<div class="commentCont">
	<p class="text-center commentText">{{comment.commentDescription}}</p>
	<p class="text-center commentOwner">Commented By: {{comment.user.username}} On: {{format_date date_created}}</p>
</div>
{{/each}}
</div>
{{#if logged_in}}
<form class="newCommentForm formCont d-flex flex-wrap justify-content-center" data-blogid={{id}}>
	<div class=" commentTextBox textAreaCont p-2">
		<textarea id='commentDescription' name="comment-body" placeholder="Enter Your Comment Here..." cols="80"
			rows="2"></textarea>
	</div>
	<div class="btnComment p-2">
		<button class="commentButton btn btn-success" type="submit">Add Comment</button>
	</div>
</form>
{{/if}}



<script src="/js/comments.js"></script>